<div>
  <%= image_tag @profile.avatar_url, class: 'avatar avatar--large' %>
  <h1 class="profile_name"><%= @profile.name %></h1>
  <!-- Add Profile Bio and Profile Picture -->
  <%= render 'follow_button', profile: @profile %>


  <div class="posts_container">
    <h3><%= @profile.name %>'s Posts</h3> 
    <div id="user_posts">
      <%= render @posts %>
    </div>
  </div>
</div>