<div id="<%= dom_id comment %>">
  <p>
    <strong><%= comment.profile.name %></strong><br>
    <%= comment.body %><br>
    <small>At <%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %></small><br>
    <%= button_to 'X', post_comment_path(comment.post, comment), method: :delete %>
  </p>
</div>
