<%= turbo_frame_tag dom_id(comment) do %>
  <div id="<%= dom_id(comment) %>_container" class="comment">
    <p>
      <strong><%= link_to comment.profile.name, comment.profile, target: '_top' %></strong>
      <br>
      <%= comment.body %><br>
      <small><%= timeago(comment.created_at) %></small>
      
    </p>
    <% if comment.profile == current_user.profile %>
      <div class="comment__actions">
          <%= link_to edit_post_comment_path(comment.post, comment), data: { turbo_frame: dom_id(comment) }, class: 'btn btn--light' do %>
            <i class="fa fa-pen"></i>
          <% end %>

          <%= link_to post_comment_path(comment.post, comment), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn btn--light' do %>
            <i class="fa fa-trash"></i>
          <% end %>
      </div>
    <% end %>
  </div>
<% end %>
