<%= form_with(model: [post, comment], id: 'comment-box') do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="comment-box">
    <%= form.label :body, 'Comment Body', class: 'hidden' %>
    <%= form.text_field :body, placeholder: 'Type your comment', required: true, class: "comment-box__input" %>
    <%= form.submit 'Comment', class: 'comment-box__submit btn btn--primary' %>
  </div>
<% end %>
