<%= form_with(model: [post, comment], class: 'form') do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, 'Comment Body', class: 'hidden' %>
    <%= form.text_field :body, placeholder: 'Type your comment', required: true %>
    <%= form.submit %>
  </div>
<% end %>
