<%= form_with(model: post, html: { multipart: true }) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :images, "Upload Images", style: "display: block" %>
    <%= form.file_field :images, multiple: true, accept: 'image/png,image/jpg,image/jpeg' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
