<%= form_with(model: post, html: { multipart: true }, class: 'form') do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__group">
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body, class: 'form__input' %>
  </div>

  <div class="form__group">
    <%= form.label :images, "Images", style: "display: block" %>
    <%= form.file_field :images, multiple: true, accept: 'image/png,image/jpg,image/jpeg', class: 'form__input' %>
  </div>

  <div>
    <%= form.submit nil, class: 'btn btn--primary' %>
  </div>
<% end %>
