<%= form_with(model: post, html: { multipart: true }, class: 'form') do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__group">
    <%= form.label :body, class: 'hidden' %>
    <%= form.text_area :body, class: 'form__input', placeholder: 'Type your text...' %>
  </div>

  <div class="form__group" data-controller="image-upload" data-image-upload-preview-class="image-upload-area__image_preview">
    <%= form.label :images, "Add Pictures", class: 'hidden' %>
    <%= form.file_field :images, multiple: true, accept: 'image/png,image/jpg,image/jpeg', class: 'form__input hidden', data: { "image-upload-target": "input" } %>

    <div class="image-upload-area" data-action="click->image-upload#openFilePicker">
      <p class="image-upload-area__text">Click to add pictures</p>
    </div>

    <!-- Thumbnails for selected images -->
    <div class="image-upload-area__preview" data-image-upload-target="preview"></div>
  </div>
  </div>

  <div>
    <%= form.submit nil, class: 'btn btn--primary' %>
  </div>
<% end %>
