<div class="post" id="<%= dom_id post %>" data-controller="clickable-link" data-url="<%= post_path(post) %>" data-action="click->clickable-link#handleClick">
  <p>
    <div class="avatar_container">
      <%= image_tag post.profile.avatar_url, width: '20rem', class: 'avatar' %>
      <strong><%= link_to post.profile.name, profile_path(post.profile) %></strong>
    </div>
    
    <% if post.body.present? %>
      <%= post.body %><br>
    <% end %>
    
    <% if post.images.attached? %>
      <div class="post__images photo-grid">
        <% post.images.each do |image| %>
          <%= image_tag image.variant(:small) %>
        <% end %>
      </div>
    <% end %>
    
    <span><em><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes' %></em></span>

    <div class="post__actions">
      <% if post.likers.include?(current_user.profile) %>
        <%= button_to post_unlike_path(post), method: :delete, class: 'btn btn--primary' do %>
          <i class="fa fa-thumbs-down"></i> Unlike
        <% end %>
      <% else%>
        <%= button_to post_like_path(post), method: :post, class: 'btn btn--primary' do %>
          <i class="fa fa-thumbs-up"></i> Like
        <% end %>
      <% end %>
    </div>
  </p>
</div>
