<%= link_to posts_path do %>
  <i class="fa fa-arrow-left"></i> Back
<% end %><br>


<%= render @post %>

<div>
  <div class="avatar_container">
    <%= link_to "Edit", edit_post_path(@post), class: 'btn btn--light' %>
    <%= button_to "Delete", @post, method: :delete, class: 'btn btn--light' %>
  </div>
</div>
<br>

<div class="comments-container">
  <h3>Comments</h3>
  <%= render 'comments/form', post: @post, comment: Comment.new %>
  <div id="comments" class="comments">
    <%= render @comments %>
  </div>
</div>