<%= render @post %>

<div>
  <%= link_to "Back to posts", posts_path %>

  <div class="avatar_container">
    <%= link_to "Edit", edit_post_path(@post), class: 'btn btn--light' %>
    <%= button_to "Delete", @post, method: :delete, class: 'btn btn--light' %>
  </div>
</div>
<br>

<h3>Comments</h3>
<%= render 'comments/form', post: @post, comment: Comment.new %>
<div id="comments">
  <%= render @comments %>
</div>