<div class="header">
  <h1>Socialite</h1>
  <div class="header__links">
    <%= link_to "Your Feed", posts_path, class: "btn" %>
    <%= link_to "Explore", explore_path, class: "btn" %>
    <%= link_to "New post", new_post_path, class: "btn btn--primary" %>
    <% if current_profile.persisted? %>
      <%= link_to current_profile, class: "alignment--align-content-center-vertical" do %>
        <%= image_tag current_profile.avatar_url, class: 'avatar avatar--medium avatar--inline' %>
      <% end %>
    <% end %>
  </div>
</div>