<!DOCTYPE html>
<html>
  <head>
    <title>Socialite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://kit.fontawesome.com/73110e100d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Temporary Inline CSS Used -->
    
    <%= render 'layouts/flash' %>

    <main class="container">
      <%= render 'layouts/header' %>

      <%= yield %>
    </main>
  </body>
</html>
